.login-button{
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}
.login-login{
  color: black;
  position: relative;
  top: -5px;
}
.main-icon{
  text-align: center;
}
.main-icon>img{
  cursor: pointer;
}
.menu-list{
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
}
.menu-list li{
  padding: 10px;
}
.menu-area{
  transform: translate(5.5em,0);
}
.search-area{
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  text-align: center;
  padding: 5px auto;
  width: 12em;
  height: 3em;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin-right:20px;  
}
.jwvnarjator{
  border: none;
  border-bottom: 0.5px solid black;
  height: 20px;
  margin: 10px;
  width: 8em;
}

.thrd-area{
  display: flex;
  justify-content: space-between;
}
.card-hover{
  text-align: center;
  border-radius: 10px;
  transition: 0.3s;
  margin: 30px;
  padding: 1em;
  height: 100%;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.card-hover:hover{
  transform: scale(1.05);
  transition: 0.3s;
}
.card-title{
  margin-top: 10px;
}.card-img{
  width: 30vw;
}
.login-box{
  margin: 20px auto;
  width: 600px;
  height: 400px;
  border: 5px solid #0dcaf0;
  border-radius: 20px;
  text-align: center;
  
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.detail-box{
  display: flex ;
  justify-content: center;
}
.detail-box img{
  width: 300px;
  border: 1px solid black;
  margin: 0 20px;
}
.detail-word{
  width: 30vw;
}
.buy-button{
  border: 5px solid #0dcaf0;
  background-color: #0dcaf0;
  width: 100%;
}
@media screen and (max-width:991px) {  
  .search-area{
    display: block;
    float: right;
    position: relative;
    top: -5em;
  }
  .card-img{  
    transform: scaleX(0.6);
    height: 500px;
  }
  .card-hover{
    display: flex;
  }
  .card-word{
    width: 25vw;
    height: 100px;
    position: relative;
    left: -40px;
    top: 100px;
  }
  .card-word>div{
    margin: 20px  ;
  }
  .search-area{
    display: flex;
    flex-direction: row-reverse;
  }
  .jwvnarjator{
    width: 68px;
  }
  .login-box{
    width: 80vw;
  }
}
@media screen and (max-width:768px){
  .card-word{
    display: none;
  }
  .card-img{  
    transform: scaleX(0.8);
    border: 2px double #0dcaf0;
    transition: 0.3s;
  }
  .card-img:hover{  
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  }
}
@media screen and (max-width:460px){
  .detail-box{
    flex-direction: column;
    align-items: center;
    margin: 20px;
    text-align: center;
  }
  .detail-box img{
    margin: 30px 20px;
  }
}