.login-button{
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}
.main-icon{
  text-align: center;
}
.menu-list{
  display: flex;
  list-style-type: none;
}
.menu-list li{
  padding: 10px;
}
.menu-area{
  transform: translate(4.5em,0);
}
.search-area{
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  text-align: center;
  padding: 5px auto;
  width: 10em;
  height: 3em;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin-right:20px;  
}
.jwvnarjator{
  border: none;
  border-bottom: 0.5px solid black;
  height: 20px;
  margin: 10px;
  width: 8em;
}

.thrd-area{
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width:835px) and (max-width:1000px) {  
  .search-area{
    display: block;
    float: right;
    position: relative;
    top: -5em;
  }
}